* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.month-name {
    font-size: 2rem;
    font-weight: bold;
}

.prev, .next {
    font-size: 2rem;
    cursor: pointer;
}

.weekdays {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: bold;
    color: #666;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    flex-grow: 1;
    margin-bottom: 300px;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    height: 150px; /* Zwiększamy wysokość, aby zmieścić przycisk */
    overflow: hidden;
    transition: background-color 0.3s;
}


.day:hover {
    background-color: #007bff;
    color: white;
}

.date {
    font-size: 1.5rem;
    text-align: right;
}

.event {
    background-color: #eee;
    margin-top: 5px;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    color: #333;
    font-size: 0.85rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.day .events-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 120px; /* Ustaw maksymalną wysokość eventów */
}

.events-container::-webkit-scrollbar {
    width: 5px;
}

.events-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 5px;
}

.events-container::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}

.add-event-btn {
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 0.85rem;
    background-color: #009614;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-event-btn:hover {
    background-color: #0056b3;
}

.events-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100px; /* Zmniejszamy wysokość, aby było miejsce na przycisk */
}
