<div class="form-container">
    <h2>Dodaj Nowego Pacjenta</h2>
  
    <!-- Komunikaty o sukcesie i błędzie -->
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Imię</label>
        <input id="firstName" formControlName="firstName" type="text" />
        <div *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched" class="error">
          Imię jest wymagane.
        </div>
      </div>
  
      <div class="form-group">
        <label for="lastName">Nazwisko</label>
        <input id="lastName" formControlName="lastName" type="text" />
        <div *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched" class="error">
          Nazwisko jest wymagane.
        </div>
      </div>
  
      <div class="form-group">
        <label for="age">Wiek</label>
        <input id="age" formControlName="age" type="number" />
        <div *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched" class="error">
          Wiek jest wymagany i musi być liczbą dodatnią.
        </div>
      </div>
  
      <div class="form-group">
        <label for="weight">Waga</label>
        <input id="weight" formControlName="weight" type="number" />
        <div *ngIf="userForm.get('weight')?.invalid && userForm.get('weight')?.touched" class="error">
          Waga jest wymagana i musi być liczbą dodatnią.
        </div>
      </div>
  
      <div class="form-group">
        <label for="phoneNumber">Numer Telefonu</label>
        <input id="phoneNumber" formControlName="phoneNumber" type="text" />
        <div *ngIf="userForm.get('phoneNumber')?.invalid && userForm.get('phoneNumber')?.touched" class="error">
          Numer telefonu jest wymagany.
        </div>
      </div>
  
      <div class="form-group">
        <label for="admission">Data Przyjęcia</label>
        <input id="admission" formControlName="admission" type="datetime-local" />
        <div *ngIf="userForm.get('admission')?.invalid && userForm.get('admission')?.touched" class="error">
          Data przyjęcia jest wymagana.
        </div>
      </div>
  
      <div class="form-group">
        <label for="discharge">Data Wypisu</label>
        <input id="discharge" formControlName="discharge" type="datetime-local" />
        <div *ngIf="userForm.get('discharge')?.invalid && userForm.get('discharge')?.touched" class="error">
          Data wypisu jest wymagana.
        </div>
      </div>
  
      <button type="submit" [disabled]="userForm.invalid">Dodaj Pacjenta</button>
    </form>
  </div>
  