<header>
    <div class="logo">Klinika Wesołe słoneczko</div>
    <div class="user-profile">
        <span> Dr. Kowalski</span>
        <img src="https://cdn.galleries.smcloud.net/t/galleries/gf-ZhMt-TvcR-jmrg_lekarz-medycyny-podrozy-przed-wyjazdem-w-tropiki-udaj-sie-do-lekarza-1920x1080-nocrop.jpg" alt="Profil">
    </div>
</header>
    <main>
        <div class="welcome">
        Witaj, Dr. Kowalski! Co chciałbyś dziś zrobić?
        </div>
  
    <div class="tiles">
      <!-- Kafelek 1 -->
      <a routerLink="/calendar" class="tile-link">
        <div class="tile">
          <p>📅</p>
          <h2>Kalendarz</h2>
          <p>Przeglądaj kalendarz i umawiaj wizyty</p>
        </div>
      </a>
  
      <!-- Kafelek 2 -->
      <a routerLink="/presciption" class="tile-link">
        <div class="tile">
          <p>💊</p>
          <h2>Lista recept</h2>
          <p>Dodaj nową receptę dla pacjenta</p>
        </div>
      </a>
  
      <!-- Kafelek 3 -->
      <a routerLink="/users" class="tile-link">
        <div class="tile">
          <p>👨‍⚕️</p>
          <h2>Lista pacjentów</h2>
          <p>Zarządzaj swoimi pacjentami</p>
        </div>
      </a>
  
      <!-- Kafelek 4 -->
      <a routerLink="/medicines" class="tile-link">
        <div class="tile">
          <p>📋</p>
          <h2>Lista leków</h2>
          <p>Dodawaj leki i sprawdzaj datę ważności</p>
        </div>
      </a>
    </div>
  </main>
  